<div class = "doc">
  <header>
    <div id = "header_center">
      <div id = "page_banner">
        <%= link_to image_tag("banner.png"), posts_path %>
      </div>
      <div id = "wawel">
        <%= image_tag("wawel.png") %>
      </div>
    </div>

    <div class = "switch_mode">
      <%= link_to "Admin Mode", "/index_admin" %>
    </div>
  </header>

  <div class = "content">
    <div class = "post_full">

      <div class = "post_title">
        <%= @category.title %>
        <hr>
      </div>
    </div>

    <div class = "photos_bar">
      <% @images.each do |image| %>
          <div class = "photo_item">
            <% @post = image.post %>
            <%= link_to image_tag(image.photo_url(:thumb).to_s), post_image_path(@post, image) %>
            <div class = "mini_photo_title">
              <%= image.title %>
            </div>
          </div>
      <% end %>
    </div>
    <div class = "post_back">
      <%= link_to "Posty", posts_path %>
    </div>
  </div>

  <footer>
    <p id = "sign">created by Marcin Szot</p>
  </footer>
</div>