<div class = "doc">
      <header>
        <div id = "header_center">
          <div id = "page_banner">
            <%= link_to image_tag("banner.png"), posts_path %>
          </div>
          <div id = "wawel">
            <%= image_tag("wawel.png") %>
          </div>
        </div>

        <div class = "switch_mode">
          <%= link_to "Admin Mode", "/index_admin" %>
        </div>
      </header>

    <div class = "content">
        <div class = "post_full">
            <%= form_for :post, url: post_path(@post), method: :patch do |f| %>
            <% if @post.errors.any? %>
            <div id = "error_explanation">
                <h2>This post can not be saved because of <%= pluralize(@post.errors.count, "error") %>:</h2>
                <ul>
                    <% @post.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <%= f.label "Tytuł:" %> <br>
            <%= f.text_field :title %> <br>

            <%= f.label "Treść posta:" %> <br>
            <%= f.text_area :text %> <br>

            <%= f.submit "Zapisz" %>
            <% end %>
        </div>

        <div class = "photos_bar">
            <% @post.images.each do |image| %>
                <div class = "edit_photo_item">
                    <%= image_tag image.photo_url(:thumb).to_s %>
                  <div class = "editing_form">
                    <%= form_for :image, url: post_image_path(@post, image), method: :patch do |f| %>
                        <%= f.label "Tytuł:" %>
                        <%= f.text_field :title %> <br>
                        <%= f.label "Opis:" %> <br>
                        <%= f.text_area :description %> <br>
                        <% if  image.category then %>
                            <%= f.label "Kategoria (" + image.category + "):" %>
                        <% else %>
                            <%= f.label "Kategoria ():" %>
                        <% end %>
                        <%= f.text_field :category %> <br>
                        <%= f.submit "Zapisz" %>
                    <% end %>
                    <%= link_to 'Usuń zdjęcie', [image.post, image], method: :delete, data: {confirm: "Are you sure?"} %>
                  </div>
                </div>
            <% end %>
        </div>

        <div class = "post_back">
            <%= link_to "Wszystkie posty", "/index_admin" %>
        </div>
    </div>

    <footer>
        <p id = "sign">created by Marcin Szot</p>
    </footer>
</div>

